<%- include("./partials/header.ejs") %>
<%- include("./partials/navBar.ejs") %>

<div class="container mt-5 " style="width: 100%">
    <h3 class="my-4">Edit Your Blog 👇</h3>
    <form action="/edit/<%= blog._id %>" method="POST">
        <input type="text" name = "title" value="<%= blog.title %>" placeholder="Enter Title " class=" mb-3 form-control" required>
        <textarea name="content" id="" cols="30" rows="10" placeholder="Enter Content" class="form-control" required><%= blog.content %></textarea>
        <input type="submit" value="Save Changes" class="compose mt-3 btn btn-md btn-danger">
    </form>
</div>


<%- include("./partials/footer.ejs") %>